<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam obcaecati voluptatibus illo distinctio, ex dicta velit, minus tempore autem, voluptatum debitis tenetur alias placeat ratione ullam earum. Quas aliquam recusandae sit quae. Optio quis assumenda quos ullam. Quo minus sunt voluptatum voluptas reiciendis eos dolorum quas corrupti qui deleniti recusandae ut quis molestias nesciunt soluta debitis ex consectetur, nostrum doloribus! Esse mollitia hic atque ad libero veritatis, et assumenda at? Voluptatem dicta neque sunt ducimus minima molestias repellendus! Non veniam quia quas voluptates voluptatum laboriosam iste similique explicabo quam cumque reprehenderit nulla, facere totam, consequuntur error corporis blanditiis! Culpa, illum.</p>

    {{> footer}}
  </body>
</html>
